.edu-first {
  background-color: $TERTIARY-COLOR;
  padding: 1rem;
}

.edu-line {
  background-color: $TERTIARY-COLOR;
}

.edu-last {
  background-color: $TERTIARY-COLOR;
  height: 50px;
  width: 150px;
  display: flex;
  margin: 0 auto;
}
