@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
$primary-color: #5D5CDC;
$secondary-color: #FEB12F;
$gray-color: #1f1f1f;
$white-color: #fff;
$gray-color-light: #FAFAFA;
$primary-font: 'Poppins', sans-serif;
$PRIMARY_COLOR: #0e1420;
$SECONDARY_COLOR: #1E1C2C;
$TERTIARY-COLOR: #1F2937;

